body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 10vh;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: 1s ease;
}
#logoIcon{
    width: 4.5vw;
}
nav {
    overflow: hidden;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
nav a{
    color: honeydew;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    font-family: "Prosto One", sans-serif;
    font-weight: 100;
    
}
nav a:hover{
    cursor: pointer;
    background-color: rgba(117, 117, 117, 0.536);
}
#cadastro{
    padding: 12px 32px; 
    background-color: rgb(209, 29, 29);
    font-family: "Prosto One", sans-serif;
    border-radius: 6px;
    color: whitesmoke;
    border-color: rgb(209, 29, 29);
}
#cadastro:hover{
    cursor: pointer;
    background-color: rgba(240, 112, 83, 0.825);
    border-color: rgba(240, 112, 83, 0.825);
}
#telaInicial {
    height: 96vh;
    width: 100%;
    background: url('./img/fundo.jpeg');
    background-size: cover;
    padding-top: 4vh; 
    position: relative;
    background-size: 100% 100%;
}
#h2inicio {
    font-size: 2.5vw;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 2vw;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    
}
#pInicio {
    color: white;
    font-size: 1.0vw;
    text-align: center;
    padding: 0vw;
    width: 100%;
    font-family: "Prosto One", sans-serif;
    font-weight: 100;

}
#copia {
    color: #ffffff96;
    font-size: 1vw;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
}
#historia{
    background-color: rgb(10, 10, 10);
    padding: 50px 20px;
    position: relative;
    min-height: 400px;
}
.containerH{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400%;
}
.bloco{
    margin-left: 0%;
    margin-top: 1.6%;
    background-color: rgb(218, 214, 214);
    width: 57vw;
    height: 470px;
    padding: 25px;
    border-radius: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    z-index: 998;
}
.imagemH{
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}
#h2historia{
    font-size: 2.0vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    overflow: hidden;
}
#pHistoria {
    color: black;
    font-size: 1.4vw;
    line-height: 1.5;
    text-align: justify;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    padding: 0vw;
   
}

#imagemcomocomecou{
    margin-top: 5%;
    width: 50vw;
    height: 30%;
    float: right;    
    overflow: hidden;
}
#pilotoD{
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    width: 100%;
    min-height: 700px;


}
#h2pilotoD{
    color: #fff;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    margin-left: 2.5%;
    font-size: 2.0vw;

}
.container {
    position: relative;
    width: 100%;
    margin-top: 5vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
  
.image {
    display: block;
    width: 25%;
    height: auto;
   
}
  
.overlay {
    position: absolute;
    background-color: rgb(218, 214, 214);
    width: 0;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;   
}

.card {
    background-image: url('./img/juan\ fangio.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card:hover .overlay {
    width: 25.2%;
}
.card2 {
    background-image: url('./img/senna.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card2:hover .overlay {
    width: 25.2%;
}
.card3 {
    background-image: url('./img/alainprost.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card3:hover .overlay {
    width: 25.2%;
} 
.card4 {
    background-image: url('./img/Schumacher.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card4:hover .overlay {
    width: 25.2%;
}
.card5 {
    background-image: url('./img/sebastianvettel.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card5:hover .overlay {
    width: 25.2%;
}
.card6 {
    background-image: url('./img/lewishamilton.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 55vh;
}
.card6:hover .overlay {
    width: 25.2%;
}
.text {
    color: rgb(0, 0, 0);
    position: absolute;
    margin: 4.5vh;
    right: 2%;
    font-size: 1.4vw;
    line-height: 1.5;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 400;

}
.container2 {
    position: relative;
    width: 100%;
    margin-top: 7vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
#copiapH {
    color: #ffffff96;
    font-size: 1vw;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
}